.container {
  width: 100%;
}
section,
aside {
  margin: 1.858736059%;
}
section {
  float: left;
  width: 63.197026%;
}
aside {
  float: right;
  width: 29.3680297%;
}

.box_shadow{
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.background_color{
    color: lightgray;

}