.block_center{
    width: 800px;
    font: 150% arial;
    text-align: left;
    margin: 0 auto;
    background-color: whitesmoke;
    word-break: break-all;

}

.block_top{
    height: 100px;

}

.color{
    color: cornsilk;
}

.block_left{
    float: left;
    width: 20%;
    font: 150% arial;
}