{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
<html lang="en">

<head>
<a href="">Home</a> <a href="/blog/main_info/">About</a>
</head>

<body>
<div class="container">
        <aside>
        {% if user.is_authenticated %}
            <p> Добро пожаловать, {{ user.username }}. Снова.</p>
            <p> <a href="/blog/logout">Выйти</a> </p>
            <p> <a href="/blog/personal/{{ user.username.title }}">Личный кабинет</a> </p>
            {% if user.is_superuser %}
                <p><a href="/blog/add_post">Добавить пост</a> </p>
                {% endif %}
            {% else %}
                <a href="/blog/registration"><p>Регистрация</p></a>
                <a href="/blog/login"><p>Войти</p></a>

            {% endif %}
        <p>{% block return %} {% endblock %}</p>
        {% include 'blog/tag_list.html' %}
        </aside>
        <section>{% block content %}{% endblock %}</section>
</div>
</body>

</html>